@font-face {
  font-family: 'She-Ra-Font'; /* Name of your custom font */
  src: url('./assets/Shera-MqWe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body{
  --background: #99343e;
  --background-secondary: rgb(19, 18, 20);
  --text-secondary: #fae8c9;
  --text-primary: #d9a04a;
  
  color: var(--text-secondary);

  font-family: 'She-Ra-Font', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbarLogo{
  width: 6%;
  position: absolute;
  top: 3em; left: 3em;
}

.sidebar{
  width: 20vw;
  margin: 0;
  display: inline-block;

  flex-shrink: 1; flex-grow: 1;
}

.MainPage{
  box-sizing: border-box;
  min-height: 80vh;
  width: 60vw;
  padding: 0;
  display: inline-block;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;

  margin: 0 auto;

}

.Container{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80vw;

  justify-content: space-between;

}

.Container>div{
  flex-shrink: 1; flex-grow: 1;
  padding: 1em;
  box-sizing: border-box;
}

.CardContainer{
  border-radius: 1em;
  transition: 0.5s;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  margin: 1em;
  font-size: 1.2em;
  
  flex-basis: 21%;
  max-width: 25%;
  min-width: 20%;
  height: 40%;
  box-sizing: border-box;

  background-color: var(--background-secondary);
  border: 1px solid var(--text-secondary);

}

.CardContainer:hover{
  transform: scale(1.05, 1.05);
  cursor: pointer;
  box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.5);
}

.CardImageContainer{
  margin: 0 auto;
  overflow: hidden;
  width: 100%; 
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

.CardImageContainer>img{
  object-fit: cover;
  object-position: top;
  width: 100%; height: 200px;
  background-color: var(--background);
}

.HomePage{
  padding: 5% 0;
}

.searchInput{
  margin: 0 auto;
  margin-bottom: 3em;
  display: block;
  padding: 1em;
  border-radius: 1em;
  outline: none;
  border: none;
}
a {
  color: white; text-decoration: none;
}

.pagination{
  margin-top: 3em;
  display: block;
  width: 100%;
}
.pagination>li{
  display: inline;
}
.pagination>li>a{
  padding: 1em;
  background-color: var(--background-secondary);
  margin: 1em;
  border-radius: 1em;
}.pagination>li>a:hover{
  color: var(--text-primary);
}
.pagination>li>a:hover{
  cursor: pointer;
}
.active>a{
  background-color: #99343e!important;
}
.active>a:hover{
  cursor:default!important;
  color: var(--text-secondary);
}

.characterInfo{
  font-family: 'Monsterrat', sans-serif;
}
h3{
  font-family: 'She-Ra-Font', sans-serif;
  color: var(--text-primary);
}

.characterContainer, .characterSectionsContainer{
  display: flex;
  flex-direction: row;
}
.characterContainer{
  justify-content: center;
  align-items: center;
}
.characterSectionsContainer{
  display: flex;
  width: 80vw;
}
.characterContainer>div{
  margin: 2em;

  box-sizing: border-box;

  flex-grow: 0;
  flex-shrink: 1;
}

.characterSectionsContainer>div{
  font-family: 'Monsterrat', sans-serif;
  flex-basis: 25%;
  /* max-width: 33%; */
  /* min-width: 20%; */
  box-sizing: border-box;
  flex-grow: 1;

  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  background-color: var(--background-secondary);
}
.next>a,
.prev>a {
  background-color: #99343e!important;}
@media (max-width: 768px) {
  .pagination {font-size: 12px}

  .next,
  .prev {display: none;
    background-color: #99343e!important;}
}
@media (max-width: 768px) {
  .pagination {font-size: 14px}
}